.header-container{
    display: grid;
    grid-auto-flow: column;
    border-radius: 5px;
    border: 1px solid lightgrey;
    background-color: whitesmoke;
    position: sticky;
    top: 0px;
}
.camera-logo{
    margin-left: auto;
    margin-right: 6vw;
    align-self: center;
}
.insta-logo img{
    width: 16vw;
}
.camera-logo img{
    width: 7vw;
}